@import '@/assets/style/variable.scss';

.container {
  padding-bottom: 60px;

  .btn-wrap {
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
  }

  .res-value {
    margin-top: 30px;
    white-space: pre;
    background: $primary-color;
    padding: 20px;
    border-radius: 5px;

    code {
      color: #ffffff;
    }
  }

}
