.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .exception-ontent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imgException {
    max-width: 260px;
    margin-right: 50px;
  }

  .title {
    color: #000;
    font-size: 28px;
    margin: 20px 0;
  }

  .description {
    color: #666;
    font-size: 16px;
  }
}