.container {
  position: relative;
  width: 100vw;
  min-width: 1200px;
  height: 100vh;
  background-image: url('@/assets/images/bg.jpg');
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
