.editor {
  border: 1px solid #CCC;
  border-radius: 3px;
  min-height: 100px;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;

  .editor-tool {
    padding: 6px 10px;
    font-weight: bolder;
    border-bottom: 1px solid #CCC;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;

    a {
      color: #000;
      margin-right: 20px;
      padding: 2px;
      display: inline-block;
    }

    i {
      cursor: pointer;
    }
  }

  .editor-container {
    display: flex;
    flex: 1;

    .editor-textarea-wrap {
      width: 50%;
      flex: 1;
      flex-wrap: wrap;

      .editor-textarea {
        flex: 1;
        resize: none;
        padding: 5px 15px;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border-color: transparent;

        &:focus {
          outline: none;
          border-color: transparent;
        }

        &:hover {
          border-color: transparent;
        }

      }

    }

    .editor-view {
      flex: 1;
      height: 100%;
      overflow-y: auto;
      padding: 5px 15px;
      width: 50%;
      border-left: 1px solid #cccccc;
      background: #fdfdfd;
    }
  }
}
