.container {
  padding: 65px 15px 30px 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;

  a {
    color: #666;
  }

  .tags {
    flex: 1;

    .tag-item {
      color: #ffffff;
      font-size: 14px;
      padding: 6px 15px;
      border-radius: 3px;
      text-align: center;
      margin: 10px;
      display: inline-block;
      box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    }
  }

}

@media (min-width: 992px) {
  .container {
    padding: 30px 50px 30px 50px;
  }
}
