@import '@/assets/style/variable.scss';

@media (min-width: 992px) {
  .list-item {
    list-style-type: disc;
  }
}

.list-item {
  border-bottom: 1px solid #ccc;
  padding: 20px;
  line-height: 1.8;

  .date {
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #ccc;
  }

  .category {
    font-size: 12px;
    color: #666666;
  }

  .title {
    line-height: 1.3;
    font-size: 26px;
    color: #50505c;
    margin: 5px 0;
  }

  .summary {
    font-size: 16px;
    color: #555;
    letter-spacing: 1px;
    -webkit-box-orient: vertical;
    font-size: 0.16rem;
    color: #555;
    letter-spacing: 0.01rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
  }

  .btn {
    @extend .base-btn;
    display: inline-block;
    background: $primary-color;
    border-radius: 3px;
    padding: 3px 8px;
    margin: 5px 0;
    font-size: 12px;
    text-align: center;
    color: #fff;
  }
}
