@charset "UTF-8";

.container {
  height: 100vh;
  position: relative;

  .title {
    text-align: center;
    font-size: 78px;
    letter-spacing: 4px;
    line-height: 60px;
    color: #000;
    margin-bottom: 30px;
  }

  .subtitle {
    width: 700px;
    font-size: 22px;
    margin: 0;
    color: #000;
    text-shadow: #c8c8c8 1px 1px 2px;
    text-align: center;
    line-height: 1.7em;
    font-weight: 100;
  }

  .leftButton {
    margin-right: '20px';
  }


  .gitStar {
    border: '0px';
    height: '32px';
    width: '145px';
    margin: '0 auto';
  }


  .git-container {
    margin-top: '30px';
    text-align: 'center';
  }


  .update-log-link-wrap {
    text-align: 'center';
  }


  .updateLogLink {
    color: '#fff';
  }
}

.excellent-home-page-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
}

.excellent-home-page-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .excellent-home-page-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
  }

  .excellent-home-page-buttons {

    a:hover,
    a:visited,
    a:link {
      color: #fff;
    }
  }


}

@media (max-width: 999px) {
  .container {
    .title {
      font-size: 48px;
    }

    .subtitle {
      font-size: 18px;
      max-width: 80vw;
    }
  }
}
